ECS_CLUSTER={{ cluster_name }}
ECS_ENGINE_AUTH_TYPE={{ ecs_engine_auth_type }}
ECS_ENGINE_AUTH_DATA={"{{ registry }}":{"username":"{{ docker_user }}","password":"{{ docker_password }}","email":"{{ docker_email }}"}}
