{% extends 'base.html' %}
{% block content %}
<div id="header">
  <div id="header-content">Austin Burnett</div>
  <div id="header-small">learner. developer. thinker.</div>
</div>
<div class="post">
  <div class="content">
    <p>Hi! My name is Austin Burnett and I am currently a software developer for the <a class="content-link" href="https://mycloud.rackspace.com">Rackspace Cloud Control Panel</a>. The primary goal of my team is to support customers with a control panel that is easy to understand and use so that they can utilize
    any and all of Rackspace's cloud products to power their next project.</p>
    <p>I plan for this blog to be a stream of what I'm currently interested in. At the time of starting this blog, I had an interest in networking and
    networking security, hence the first post. Aside from networking, I have interests in front-end development, data science, application analytics and
    Linux system administration. While I may not have substantial experience in these fields, they tend to be where I focus my learning.</p>
    <p>When I'm not learning or thinking of what could be, I like to fly fish, play disc golf, camp, and cook. If you have any feed back or want to connect,
    feel free to ping me on <a class="content-link" href="https://www.twitter.com/austburn">Twitter</a>.</p>
    <div style="text-align:center;">
      <h2>Top Five Strengths</h2>
      <p>Achiever</p>
      <p>Learner</p>
      <p>Futuristic</p>
      <p>Adaptability</p>
      <p>Ideation</p>
    </div>
    <p>Interested in how I power my blog? Checkout my <a href="https://github.com/austburn/austburn.me">repository</a> to see how I leverage
    <a href="https://ansible.com">Ansible</a>, <a href="https://docker.com">Docker</a>, <a href="https://circleci.com">CircleCI</a>, and my
    own <a href="https://docs.docker.com/registry/">private Docker registry</a>.</p>
  </div>
</div>
{% endblock %}
