<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'sidebar.html' %}
    <div id="content">
      {% block content %}
        <div class="post">
          <div class="heading"><a class="heading-link" href="/posts/{{ post.tag }}">{{ post.title }}</a></div>
          <div class="content">{{ post.post|safe }}</div>
        </div>
      {% endblock %}
    </div>
    {% include 'scripts.html' %}
    <script src="{{ url_for('static', filename='js/copyright.js') }}"></script>
  </body>
</html>
