<div id="sidebar">
  <div id="me"></div>
  <table>
    <tr>
      <td><i class="fa fa-home"></i></td>
      <td><a class="sidebar-link" href="/" onclick="ga('send', 'event', 'button', 'click', 'home', 1)">Home</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-user"></i></td>
      <td><a class="sidebar-link" href="/about" onclick="ga('send', 'event', 'button', 'click', 'about', 1)">About</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-folder"></i></td>
      <td><a class="sidebar-link" href="/posts" onclick="ga('send', 'event', 'button', 'click', 'posts', 1)">Posts</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-paperclip"></i></td>
      <td><a class="sidebar-link" href="/static/resume_09_07_2016.pdf" onclick="ga('send', 'event', 'button', 'click', 'resume', 1)">Resume</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-github-alt"></i></td>
      <td><a class="sidebar-link" href="https://www.github.com/austburn" onclick="ga('send', 'event', 'button', 'click', 'github', 1)">Github</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-at"></i></td>
      <td><a class="sidebar-link" href="https://www.twitter.com/austburn" onclick="ga('send', 'event', 'button', 'click', 'twitter', 1)">austburn</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-linkedin"></i></td>
      <td><a class="sidebar-link" href="https://www.linkedin.com/pub/austin-burnett/b4/406/137" onclick="ga('send', 'event', 'button', 'click', 'linkedin', 1)">Connect</a></td>
    </tr>
  </table>
  <div id="copyright"></div>
</div>
