body {
  background-color: #2c3e50;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  overflow-y: scroll;
}

#content {
  position: absolute;
  left: 15%;
  background-color: #ecf0f1;
  color: #333;
  width: 70%;
  min-height: 100%;
  border-left: 5px solid #2A74A6;
  border-right: 5px solid #2A74A6;
  padding: 5px;
  float: left;
}

#sidebar {
  position: fixed;
  width: 15%;
  margin-left: 0%;
  height: 100%;
  background-color: #2980b9;
  color: #ecf0f1;
  float: left;
  padding: 10px;
}

table {
  font-size: 2.2em;
}

td:first-of-type {
  padding-right: 8px;
}

#me {
  background-image: url(../img/austin.jpg);
  background-position: 45% 25%;
  background-size: 100%;
  width: 90%;
  height: 20%;
  border-radius: 25%;
  margin-left: 5%;
  margin-bottom: 10%;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #me {
    max-height: 100px;
  }

  table {
    font-size: 1.4em;
  }
}

#copyright {
  position: absolute;
  bottom: 0;
  left: 0;
}

#header {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#header-content {
  display: table-cell;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5em;
}

#header-small {
  display: table-row;
  font-size: 1.3em;
}

.post {
  margin-left: 5px;
}

.post .heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

.post .content {
  font-weight: 200;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
}

a.post-link {
  font-size: 2.8em;
}

a.sidebar-link {
  display: block;
}

a.content-link:link, a.post-link:link {
  color: #2980b9;
  text-decoration: none;
}

a.heading-link:link, a.heading-link:visited {
  color: #2A6E9C;
  text-decoration: none;
}

a.sidebar-link:link {
  color: #ecf0f1;
  text-decoration: none;
}

a.content-link:visited, a.sidebar-link:visited, a.post-link:visited {
  color: #94AFB5;
}

a.content-link:active, a.content-link:hover,
a.heading-link:active, a.heading-link:hover,
a.sidebar-link:active, a.sidebar-link:hover,
a.post-link:active, a.post-link:hover {
  color: #1A5074;
  text-decoration: none;
}

.date {
  margin-left: 20px;
}

.gist {
  margin-left: 50px;
}

i {
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.custom-bash, .custom-bash .hljs-keyword {
  background-color: #2c3e50 !important;
  color: #ecf0f1 !important;
}

.custom-bash .hljs-number {
  color: #e74c3c !important;
}

.custom-bash .hljs-string {
  color: #f1c40f !important;
}

.custom-bash .hljs-comment {
  color: #edbb4e !important;
}

.custom-bash .hljs-built_in {
  color: #906090 !important;
}

.custom-bash .hljs-variable {
  color: #16a085 !important;
}

.tip {
  padding: 4px;
  background-color: rgba(180, 221, 253, 0.7);
  border-radius: 6px;
}

.caption {
  font-size: small;
  font-style: italic;
}
