upstream flask {
    server 127.0.0.1:5050;
}

server {
    listen 80;
    listen {{ ansible_eth0.ipv4.address }}:80;
    server_name austburn.me;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    listen {{ ansible_eth0.ipv4.address }}:443;
    server_name austburn.me;

    ssl_certificate     /etc/ssl/certs/austburn.crt;
    ssl_certificate_key /etc/ssl/private/austburn.key;
    ssl_prefer_server_ciphers On;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS;

    location / {
        proxy_pass http://flask;
    }

    # deny access to files
    location ~ /\. {
        deny all;
    }
}
