upstream flask {
    server 127.0.0.1:9090;
}

server {
        listen 80;
        listen [::]:80;
        server_name austburn.me;
        return 301 https://$server_name$request_uri;
}

server {
        listen 443 ssl;
        listen [::]:443;
        server_name austburn.me;

        ssl_certificate     /etc/ssl/certs/austburn_me_bundle.crt;
        ssl_certificate_key /etc/ssl/private/austburn_me_privatekey_2015.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;

        location / {
            uwsgi_pass flask;
            include /etc/nginx/uwsgi_params;
        }

        # deny access to files
        location ~ /\. {
                deny all;
        }
}